body {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-image: url('/img/backgroundwgeneralbanner.png')
}

/* body {
    height: 400px;
} */

.container {
    height: 80%;
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    /* padding-bottom: 80px; */
    
}

.grid {
    background-color: rgba(121,230,255,0.5);
    height: 35px;
    width: 35px;
    flex-flow: row wrap;
    border: 1px solid black;
    cursor: pointer;
    
}
.placeable {
    background-color: green;
}
.unplaceable {
    background-color: grey;
}
.missed {
    background-color: rgba(1,76,255,0.5);
}
.ship {
    /* background-color: darkmagenta; */
    /* height: 24px;
    width: 26px; */
    
}

.revealShip {
    background-color: rgba(165,76,255,0.5);
}

.damaged {
    background-color: rgba(255,92,1,1);
    
}
.dead {
    background-color: red;
}
.selected {
    border: 2px solid black;
    height: 33px;
    width: 33px;
}

.shipsegment {
    width: 100%;
    height: 100%;
    
}

#ships {
    display: flex;
    margin-top: 10px;
    width: 60%;
    padding-left: 20px;
    justify-content: flex-start;
    
}


.shipHealth {
    border: 2px solid black;
    margin: 2px;
    padding: 2px;
    width: 150px;
    height: 210px;
    justify-content: center;
    text-align: center;
    background-color: rgba(100,12,255,0.5);
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.shipImg {
    display: flex;
    width: 100px;
    height: 100px;
    
    
}

.destroyedImg {
    filter: grayscale(100%);
    
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
    
}

#enemyShips {
    justify-content: flex-end;
    display: flex;
}

.enemy {
    width: 50px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#bottomRow {
    display: flex;
    height: 200px;
}

.damagedBar {
    width: 100%;
    background-color: red;
    margin-top: 7px;
  }
  
.healthBar {
    width: 100%;
    height: 30px;
    background-color: #04AA6D;
  }

  #textscroll {
      background-color: rgba(0,0,0,0.3);
      border: 2px solid black;
      padding-left: 30px;
      padding-right: 10px;
      height: 37px;
      color: white;
      font-size: 23px;
      margin-top: 33px;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .options {
      margin-top: 70px;
      color: white;
      width: 380px;
      height: 60px;
      background-color: black;
      font-size: 30px;
      cursor: pointer;
  }

  #options {
      padding-top: 130px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .side {
    display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0px;
      padding: 0px;
      
  }
