.container {
    height: 80%;
    width: 80%;
    display:flex;
    
}
.grid {
    background-color: aqua;
    height: 30px;
    width: 30px;
    flex-flow: row wrap;
    border: 1px solid black;
}
.alive {
    background-color: green;
}
.damaged {
    background-color: orange;
}
.dead {
    background-color: red;
}
.unplaceable {
    background-color: grey;
}
